/* Stylesheet created by:AGN, 12-10-2021 */

/* Style for body specifies a background color */
body { 
	background-color: #000000;
	margin:0;
	padding:0;	
}


/* Style to create a fluid image */
img {
	max-width: 100%;
}

.logo{
	max-height:23%;
	max-width:23%;
	align:left;
}

/* Style for container centers the page and sets the element width */
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and centeraligns content  */
header {
	text-align: center;
}

/* Style for the nav specifies text properties */
nav{
	font-family:Georgia, "Times New Roman", serif;
	font-size: 1.00em;
	font-weight: bold;
	text-align: center;
}

/* Style specifies padding and margins for unordered list */
nav ul {
	padding: 0;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
	background-color:#FFFFFF;
	opacity:2;
	color:#FFFFFF;
	border-radius: .5em;
	list-style-type: none;
	margin: 0.2em;
	padding: 0.2em;
}


/* Style changes navigation link text color to white and removes the underline */
nav li a {
	color: #000000;
	text-decoration:none;
}

/* Style for the main element specifies a block display, text properties, margins,padding, rounded corners, and border properties */ 
main {
	display: block;
	font-family: Verdana, Arial, sans-serif;	
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	border-radius: 2em 0 2em 0;
	background-color: #FFFFFF;
	opacity: 0.85;
}

/* Style for anchor elements within the main element*/
main a {
	background-color: powderblue;;
	border-radius: 1em;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;
}

h1 {
  color: white;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}

p {
  color: white;
  font-family: font-family: 'Brush Script MT', cursive;;
  font-size: 100%;
  text-align: center;
}

p1 {
  color: white;
  font-family: font-family: 'Brush Script MT', cursive;;
  font-size: 200%;
  text-align: center;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
	font-size: .90em;
	text-align: center;
	margin-top: 2em; 
	color: #FFFFFF;
}


