/* Style sheet created by: AGN */

/* Style for body specifies a background color */
body {
	background-color: #000000;
}

header img{ 
	max-width:100%;
	width: 25%;
	float: left;
}

img{ 
	max-width:100%;
}

li {
    display: inline;
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid black
}

/* Style displays the mobile class */
.mobile {
	display: inline;
}

/* Style for the container centers the page and specifies the width */
#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: Verdana, Arial, serif;
	font-size: 2em;
	margin-top: 0.2em;
	background-color: #808080;
	border-radius: 0.5em;
	text-align: left;
}

header p {
	margin-bottom: 3em;
	padding-top: 1.5em;
	font-family: font-family: 'Brush Script MT', cursive;;
  	font-size: 150%;
	font-weight: 900;
}

#banner {
	text-align: center;
}

/* Style for div p specifies the left and righ paddings */
div p {
	padding-left: 1em;
	padding-right: 1em;
}

h4 {
  color: black;
  font-family: verdana;
  font-size: 150%;
  text-align: center;
}

p {
  color: white;
  font-family: font-family: 'Brush Script MT', cursive;;
  font-size: 100%;
  text-align: center;
}

p1 {
  color: white;
  font-family: font-family: 'Brush Script MT', cursive;;
  font-size: 200%;
  text-align: center;
}

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 0.5em;
	border-radius: 1em;
	background-color: #FFFFFF;
	clear: left;
	margin-top: 12em;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .90em;
	text-align: center;
	margin-top: 2em; 
	color: #FFFFFF;
}

/* Style for the article h3 element specifying text allignment */
article h3 {
	text-align: center;
	font-size: 4.25em;
}

/* Style for the figure element specifying allignment */
figure {
	text-align: center;
  	width: 90%;
}

/* Style for the figcaption specifying color */
figcaption {
	font-size: 3.25em;
	text-align: center;
	color: black;
}

/* Style for the section element */
section {
	padding: 1em;
	float: left;
	width: 60%;
}

/* Style for the article element */
article {
	margin: 1em;
	padding: 1em;
	background-color: white;
}

aside {
	color: #ffffff;
	background-color: #808080;
	font-size: 1.25em;
	margin: 1em;
	padding: 1em;
}

/* Style for the table element */
table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the table rows, header cells and data cells element */
table, tr, th, td {
	border-collapse: collapse;
	border: solid 0.1em #000000;
	padding: 1em;
}

/* Style for the data cell element */
td {
	text-align: center;
}

tr.d0 td {
  background-color: #808080;
  color: black;
}

tr.d1 td {
  background-color: #D3D3D3;
  color: black;
}

tr.d2 td {
  background-color: #DCDCDC;
  color: black;
}

tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}

tr:last-of-type{
    border-bottom: 10px solid #800000;
}

tr:hover{
    background-color: azure;
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Style for caption element */
caption {
	font-size: 2em;
	padding: 1em;
	margin-top: 1em;
}