/* Style sheet created by: AGN */

/* Style for body specifies a background color */
body {
	background-color: #000000;
}

header img{ 
	max-width:100%;
	width: 25%;
	float: left;
}

img{ 
	max-width:100%;
}

/* Style displays the mobile class */
.mobile {
	display: inline;
}

/* Style for the container centers the page and specifies the width */
#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: Verdana, Arial, serif;
	font-size: 2em;
	margin-top: 0.2em;
	background-color: #808080;
	border-radius: 0.5em;
	text-align: left;
}

header p {
	margin-bottom: 3em;
	padding-top: 1.5em;
	font-family: font-family: 'Brush Script MT', cursive;;
  	font-size: 150%;
	font-weight: 900;
}

/* Style for nav specifies text properties */
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	margin-top: -5em;
}
/* Style specifies padding and margin for unordered list */
nav ul {
	margin: 0;
	padding-left: 0.50%;
	padding-right: 0.50%;
}
/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {   
	background-color: #000000;
	border-radius: 0;
	list-style-type: none;
	display: inline;
	float: left;
	margin-left: 1%;
	margin-right: 1%;	
	padding-left: 0;
	padding-right: 0;
	width: 23%;

}
/* Style changes navigation link text color to white and removes the underline */
nav li a { 
	text-decoration: none;
	color: #808080; 
	display: inline-block;
	padding: 0.7em;
	font-size: 1.25em;
}
nav li a:link {
	color: #c0c0c0;
}
nav li a:hover {
	color: #4C1F00;
	font-style: italic;
}

#banner {
	text-align: center;
}

/* Style for div p specifies the left and righ paddings */
div p {
	padding-left: 1em;
	padding-right: 1em;
}

h4 {
  color: black;
  font-family: verdana;
  font-size: 150%;
  text-align: center;
}

p {
  color: white;
  font-family: font-family: 'Brush Script MT', cursive;;
  font-size: 100%;
  text-align: center;
}

p1 {
  color: white;
  font-family: font-family: 'Brush Script MT', cursive;;
  font-size: 200%;
  text-align: center;
}

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 1.5em;
	padding: 1.5em;
	border-radius: 5em;
	background-color: #FFFFFF;
	clear: left;
	margin-top: 12em;
}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .90em;
	text-align: center;
	margin-top: 2em; 
	color: #FFFFFF;
}

/* Style for the article h3 element specifying text allignment */
article h3 {
	text-align: center;
	font-size: 4.25em;
}

/* Style for the figure element specifying allignment */
figure {
	text-align: center;
  	width: 90%;
}

/* Style for the figcaption specifying color */
figcaption {
	font-size: 3.25em;
	text-align: center;
	color: black;
}

/* Style for the section element */
section {
	padding: 1em;
	float: left;
	width: 60%;
}

/* Style for the article element */
article {
	margin: 1em;
	padding: 1em;
	background-color: white;
}

aside {
	color: #ffffff;
	background-color: #808080;
	font-size: 1.25em;
	margin: 1em;
	padding: 1em;
}

h5 {
  color: black;
  font-family: Georgia, "Times New Roman", sans-serif;;
  font-size: 100%;
  text-align: center;
}

label {
	font: 1rem 'Fira Sans', sans-serif;
}

input,select,textarea {
	margin: .4rem;
}

#submit {
	margin-left: 0;
	width: 10em;
}
label.error {
	float: none;
	color: red;
	font-size: 87.5%;
}
input.last {
	margin-bottom: 1em;
}
input.left {
	width: 1em;
	padding-left: 0;
}



